<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--Main header-->
    <div class = "container-fluid main_header">
        <!--grid bnarhe-->
        <div class = "row">
            <div class = "col-md-10 col-12 mx-auto"> <!--yahan pura hai, dono side 1 1 hhor k, aage pure ko do part mein baatenge-->
                <div class="row">
                    <!--left of left side div-->
                    <div class="col-md-12 col-12 main_header_left align-items-center"> 
                        <figure class="errimg">
                            <img src="images/404.png" alt="thapa" class="img-fluid" title="Suparn techie">
                        </figure> 
                        <p>Welcome To Suparn Technical World</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/" ><button>Go Back</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--footer code-->
    {{>footer}}
</body>
</html>